body {
	color: #E0E0E0;
	background: #399B28 url("images/Bottom_texture.jpg") repeat-x top left fixed;
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align: justify;
}

#content {
	width: 742px;
	margin: 0px auto;
	padding: 0px;
}

#left {
	position: fixed;
	top: 70px;
  left: 12px;
	float: left;
	width: 190px;
}

.right {
	position: fixed;
	top: 0;
	left: 190px;
	height: 90%;
	float: right;
  padding-top: 2px;
  padding-right: 12px;
  padding-bottom: 0px;
  padding-left: 15px;
	overflow: auto;
  font-size: 11;
}

/* Start Content Header Outline*/
.right-header {
  margin-bottom: -27px;
  min-height: 26px;
  line-height: 26px;
}

.right-header:before, .right-header:after {
  background-image: url('images/sheet_t.png');
}


.right-header:before {
  right: 8px;
}

.right-header:after {
  width: 8px;
}

/* End Content Header Outline */

/* Start Content Footer Outline */

.right-footer {
  margin-top: -26px;
  min-height: 26px;
  line-height: 26px;
}

.right-footer:before, .right-footer:after {
  background-image: url('images/sheet_b.png');
}

.right-footer:before {
  right: 8px;
}

.right-footer:after {
  width: 8px;
}

/* End Content Footer Outline */

#footer {
	position:fixed;
	bottom: 10px;
	right: 0;
	padding: 12px 20px 0px 15px;
}

#footer button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

#menu1 ul {
	list-style-image: url("images/bullet-point.png");
}

#menu1 ul li {
  font-size: 10px;
}


/* Start Box */
.t8-box, .t8-box-body {
   margin:0 auto;
   position:relative;
}
.t8-box:before, .t8-box:after, .t8-box-body:before, .t8-box-body:after {
   position:absolute;
   top:0;
   bottom:0;
   content:' ';
   background-repeat: no-repeat;
   line-height:0;
}
.t8-box:before,.t8-box-body:before{
   left:0;
}
.t8-box:after,.t8-box-body:after{
   right:0;
}
.t8-box:before {
   overflow:hidden;
   background-position: bottom left;
   direction: ltr;
   z-index:-3;
}
.t8-box:after {
   background-position: bottom right;
   z-index:-3;
}
.t8-box-body:before, .t8-box-body:after {
   background-repeat:repeat-y;
}
.t8-box-body:before {
   background-position: top left;
   z-index:-3;
}
.t8-box-body:after {
   background-position: top right;
   z-index:-3;
}

.t8-box .t8-box:before, .t8-box .t8-box:after, .t8-box-body .t8-box-body:before, .t8-box-body .t8-box-body:after {
   z-index:-2;
}
.t8-box .t8-box .t8-box:before, .t8-box .t8-box .t8-box:after, .t8-box-body .t8-box-body .t8-box-body:before, .t8-box-body .t8-box-body .t8-box-body:after {
   z-index:-1;
}
/* End Box */

/* Start Bar */
.t8-bar {
   position:relative;
}
.t8-bar:before, .t8-bar:after {
   position:absolute;
   top:0;
   bottom:0;
   content:' ';
   background-repeat:repeat;
   z-index:-1;
}
.t8-bar:before {
   left:0;
   background-position: top left;
}
.t8-bar:after {
   right:0;
   background-position: top right;
}
/* End Bar */

/* begin Box, BlockContent */
.t8-blockcontent
{
   max-width:900px;
}
.t8-blockcontent-body 
{
   padding:4px;
   min-width:4px;
   min-height:4px;
   color: #E0E0E0;
   font-family: Georgia, "Times New Roman", Times, Serif;
   font-size: 13px;
   word-spacing: 0;
}
.t8-blockcontent:before, .t8-blockcontent:after 
{
   content: url('images/blockcontent_t.png');
   font-size: 0;
   background-image: url('images/blockcontent_b.png');
}
.t8-blockcontent:after{
   clip:rect(auto, auto, auto, 894px);
}
.t8-blockcontent:before,.t8-blockcontent-body:before{
   right:6px;
}
.t8-blockcontent-body:after{
   width: 6px;
   top:6px;
   bottom:6px;
   background-image:url('images/blockcontent.png');
}
.t8-blockcontent-body:before{
   top:6px;
   bottom:6px;
   background-image:url('images/blockcontent.png');
}
.t8-blockcontent-body table,
.t8-blockcontent-body li, 
.t8-blockcontent-body a,
.t8-blockcontent-body a:link,
.t8-blockcontent-body a:visited,
.t8-blockcontent-body a:hover
{
   color: #E0E0E0;
   font-family: Georgia, "Times New Roman", Times, Serif;
   font-size: 13px;
   word-spacing: 0;
}

.t8-blockcontent-body a, .t8-blockcontent-body a:link
{
   color: #E0E0E0;
   text-decoration: underline;
}

.t8-blockcontent-body a:visited, .t8-blockcontent-body a.visited
{
   color: #E0E0E0;
   text-decoration: underline;
}

.t8-blockcontent-body a:hover, .t8-blockcontent-body a.hover
{
   color: #E0E0E0;
   text-decoration: none;
}

.t8-blockcontent-body ul li
{
   font-size: 14px;
   line-height: 100%;
   color: #9E9E9E;
   margin: 5px 0 0 5px;
}
/* end Box, BlockContent */

/* begin BlockHeader */
.t8-blockheader {
   margin-bottom: 0;
   min-height: 35px;
   line-height:35px;
}
.t8-blockheader:before, .t8-blockheader:after{
   background-image: url('images/blockheader.png');
}
.t8-blockheader:before{
   right: 5px;
}
.t8-blockheader:after{
   width: 5px;
}

.t8-blockheader .t
{
   min-height: 35px;
   line-height:35px;
   color: #171717;
   font-weight: normal;
   font-size: 15px;
   margin:0;
   padding: 0 5px 0 5px;
   white-space: nowrap;
}

.t8-blockheader .t a,
.t8-blockheader .t a:link,
.t8-blockheader .t a:visited, 
.t8-blockheader .t a:hover
{
   color: #171717;
   font-weight: normal;
   font-size: 15px;
}

/* end BlockHeader */


/* begin Box, Sheet */
.t8-sheet
{
   margin-top: 25px;
   margin-bottom: -5px; 
   cursor:auto;
}
.t8-sheet-body 
{
   padding:12px;
   min-width:40px;
   min-height:40px;
   padding-top:12px;
   padding-bottom:12px;
}
.t8-sheet:before, .t8-sheet:after 
{
   content: url('images/sheet_t.png');
   font-size: 0;
   background-image: url('images/sheet_b.png');
}
.t8-sheet:before,.t8-sheet-body:before{
   right:26px;
}
.t8-sheet-body:after{
   width: 26px;
   top:26px;
   bottom:26px;
   background-image:url('images/sheet.png');
}
.t8-sheet-body:before{
   top:26px;
   bottom:26px;
   background-image:url('images/sheet.png');
}

/* end Box, Sheet */
