<html>
<body background="<%= image_url("summary.png") %>" text="#ffffff">
<h2>Localization</h2><br>
<%= tab_html %>Langauge: <b><%= @setup.language %></b><br>
<%= tab_html %>Timezone: <b><%= @setup.timezone[:timezone] + "/" + @setup.timezone[:timezone_code] %></b><br>
<%= tab_html %>Keyboard layout: <b><%= @setup.keyboard[:layout_desc] %></b><br>
<%= tab_html %>Keyboard Model: <b><%= @setup.keyboard[:model_desc] %></b><br>
<hr>
<h2>User Settings</h2><br>
<%= tab_html %>Real Name: <b><%= @setup.user_info[:realname] %></b><br>
<%= tab_html %>Username: <b><%= @setup.user_info[:username] %></b><br>
<hr>
<h2>System Settings</h2><br>
<%= tab_html %>Hostname: <b><%= @setup.user_info[:hostname] %></b><br>
<% if @setup.bootloader[:install] %>
<%= tab_html %>Bootloader Device: <b><%= @setup.bootloader[:devid] %></b><br>
<% else %>
<%= tab_html %>No bootloader being installed
<% end %>
<hr>
<h2>Filesystem Operations</h2><br>
<% if @setup.advanced_partition
@setup.partition_table.each do |dev,info|
if info[:format]
%>
<%= tab_html %><b>Format <font color="#0000FF"><%= dev %></font> as <%= info[:format_type] %></b><br>
<% end %>
<%= tab_html %><b>Mount <font color="#0000FF"><%= dev %></font> as <font color="#FF0000"><%= info[:mount_point] %></font> (<%= info[:format_type] %>)</b><br>
<% end %>
<% else %>
<%= tab_html %><b>Wipe <font color="#0000FF"><%= @setup.disk %></font> and create <font color="#FF0000"><%= @setup.partition_table.length %></font> partitions</b><br>
<% @setup.partition_table.each do |dev,info| %>
<%= tab_html %><b>Create <font color="#0000FF"><%= dev %></font> as <%= info[:format_type] %>, mounted at <font color="#FF0000"><%= info[:mount_point] %></font></b><br>
<% end %>
<% end %>
</body>
</html>
